{% extends "includes/base.html" %}
{% load static %}
{% block content %} 

<section class="section">
  <div class="section-header">
    <h1>
      Welcome to the Center Admin Dashboard
    </h1>
  </div>
  <div class="section-body">
    <div class="mb-3 font-weight-bold">Center</div>
    <div class="row">
      <!-- BSRcenter Total -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-primary">
            <i class="fas fa-building"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>BSRcenter</h4>
            </div>
            <div class="card-body">
              {{ bsr_total }}
            </div>
          </div>
        </div>
      </div>

      <!-- BSRcenter Pending -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-warning">
            <i class="fas fa-hourglass-half"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>BSRcenter Pending</h4>
            </div>
            <div class="card-body">
              {{ bsr_pending }}
            </div>
          </div>
        </div>
      </div>

      <!-- BSRcenter Approved -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-success">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>BSRcenter Approve</h4>
            </div>
            <div class="card-body">
              {{ bsr_approved }}
            </div>
          </div>
        </div>
      </div>

      <!-- BSRcenter Rejected -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-times-circle"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>BSRcenter Reject</h4>
            </div>
            <div class="card-body">
              {{ bsr_rejected }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section mt-4">
  <div class="section-body">
    <div class="mb-3 font-weight-bold">Burials</div>
    <div class="row">
      <!-- Burials Total -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-primary">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Burials Record</h4>
            </div>
            <div class="card-body">
              {{ burial_total }}
            </div>
          </div>
        </div>
      </div>

      <!-- Burials Pending -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-warning">
            <i class="fas fa-hourglass-half"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Burials Record Pending</h4>
            </div>
            <div class="card-body">
              {{ burial_pending }}
            </div>
          </div>
        </div>
      </div>

      <!-- Burials Approved -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-success">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Burial Record Approve</h4>
            </div>
            <div class="card-body">
              {{ burial_approved }}
            </div>
          </div>
        </div>
      </div>

      <!-- Burials Rejected -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
          <div class="card-icon bg-danger">
            <i class="fas fa-times-circle"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Burial Record Reject</h4>
            </div>
            <div class="card-body">
              {{ burial_rejected }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
