{% load static %}
<div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <h4>Municipality of Santa Rita</h4>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <h3>SR</h3>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            {% if request.user.is_authenticated %}
              {% if request.user.user_type == '1' %}
                <!-- HOO Home Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'hoo_home' %}">General Dashboard</a></li>
                  </ul>
                </li>
                <li class="menu-header">Actions</li>
                <!-- Add HOO-specific menu items here -->
              {% elif request.user.user_type == '2' %}
                <!-- Sysadmin Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'sysadmin_home' %}">Sysadmin Dashboard</a></li>
                  </ul>
                </li>
                <li class="menu-header">Actions</li>
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Registrations</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'sysadmin_register' %}">Register</a></li>
                  </ul>
                </li>
                <li class="menu-header">Site Management</li>
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-clock"></i> <span>Cycle</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'sysadmin_cycle_create' %}">REAP Cycle</a></li>
                  </ul>
                </li>
              {% elif request.user.user_type == '3' %}
                <!-- Municipal Admin Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'municipaladmin_home' %}">Municipal Dashboard</a></li>
                    <li><a class="nav-link" href="{% url 'municipaladmin_analytics_home' %}">Analytics</a></li>
                  </ul>
                </li>
                <li class="menu-header">Center</li>
                  <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>BSRCenter</span></a>
                    <ul class="dropdown-menu">
                      <li><a class="nav-link" href="{% url 'municipal_medical_table' %}">Medical Table (Center)</a></li>
                      <li><a class="nav-link" href="{% url 'municipal_burial_table' %}">Burial Table (Center)</a></li>
                    </ul>
                </li>
                <li class="menu-header">Peso</li>
                  <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>PESO</span></a>
                    <ul class="dropdown-menu">
                      <li><a class="nav-link" href="{% url 'municipal_reap_table' %}">REAP (PESO)</a></li>
                      <li><a class="nav-link" href="{% url 'municipal_tupad_table' %}">Tupad (PESO)</a></li>
                    </ul>
                </li>
                <li class="menu-header">DSWD</li>
                  <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>DSWD</span></a>
                    <ul class="dropdown-menu">
                      <li><a class="nav-link" href="{% url 'municipal_senior_table' %}">Senior Table</a></li>
                    </ul>
                </li>
              {% elif request.user.user_type == '4' %}
                <!-- Center Admin Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'admincenter_home' %}">Center Dashboard</a></li>
                  </ul>
                </li>

                <li class="menu-header">Informations</li>
                  <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Tables</span></a>
                    <ul class="dropdown-menu">
                      <li><a class="nav-link" href="{% url 'approval_table_meds' %}">Approval Table</a></li>
                      <li><a class="nav-link" href="{% url 'approval_table_burials' %}">Burial Approval Table</a></li>
                    </ul>
                </li>
                <li class="menu-header">Actions</li>
                <!-- Add Center Admin-specific menu items here -->
              {% elif request.user.user_type == '5' %}
                <!-- Center Staff Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'centerstaff_home' %}">Center Staff Dashboard</a></li>
                  </ul>
                </li>
                <li class="menu-header">Actions</li>
                  <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Applications</span></a>
                    <ul class="dropdown-menu">
                      <li><a class="nav-link" href="{% url 'med_form' %}">Med Form</a></li>
                      <li><a class="nav-link" href="{% url 'burial_form' %}">Burial Form</a></li>
                    </ul>
                </li>
              {% elif request.user.user_type == '6' %}
                <!-- Peso Admin Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'adminpeso_home' %}">Peso Admin Dashboard</a></li>
                  </ul>
                </li>
                 <li class="menu-header">Informations</li>
                  <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Tables</span></a>
                    <ul class="dropdown-menu">
                      <li><a class="nav-link" href="{% url 'approval_table_reap' %}">REAP Approval Table</a></li>
                      <li><a class="nav-link" href="{% url 'approval_table_tupad' %}">Tupad Approval Table</a></li>
                    </ul>
                </li>
              {% elif request.user.user_type == '7' %}
                <!-- Peso Staff Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'pesostaff_home' %}">Peso Staff Dashboard</a></li>
                  </ul>
                </li>
                <li class="menu-header">Actions</li>
                  <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Applications</span></a>
                    <ul class="dropdown-menu">
                      <li><a class="nav-link" href="{% url 'reap_form' %}">REAP Form</a></li>
                      <li><a class="nav-link" href="{% url 'reap_release' %}">REAP Release</a></li>
                      <li><a class="nav-link" href="{% url 'tupad_form' %}">Tupad Form</a></li>
                      <li><a class="nav-link" href="{% url 'tupad_release' %}">Tupad Release</a></li>
                      
                    </ul>
                  </li>
              {% elif request.user.user_type == '8' %}
                <!-- DSWD Admin Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'admindswd_home' %}">DSWD Admin Dashboard</a></li>
                  </ul>
                </li>
                <li class="menu-header">DSWD</li>
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Tables</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'approval_table_senior' %}">Senior Approval Table</a></li>
                  </ul>
                </li>
              {% elif request.user.user_type == '9' %}
                <!-- DSWD Staff Sidebar -->
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'dswdstaff_home' %}">DSWD Staff Dashboard</a></li>
                  </ul>
                </li>
                <li class="menu-header">Actions</li>
                <li class="dropdown">
                  <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Applications</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'senior_form' %}">Senior Form</a></li>
                    <li><a class="nav-link" href="{% url 'senior_release' %}">Senior Release</a></li>
                  </ul>
                </li>
              {% else %}
                <!-- Default Sidebar for unknown user_type -->
                <li><a class="nav-link" href="blank.html"><i class="far fa-square"></i> <span>Blank Page</span></a></li>
              {% endif %}
            {% else %}
              <!-- Not logged in: show minimal sidebar -->
              <li><a class="nav-link" href="index.html"><i class="fas fa-home"></i> <span>Home</span></a></li>
            {% endif %}
          </ul>
        </aside>
                  </aside>
      </div>